argparse>=1.2.1
MySQL-python>=1.2.4
sqlparse>=0.1.7
mmh3>=2.2
http://sourceforge.net/projects/pylibpcap/files/pylibpcap/0.6.4/pylibpcap-0.6.4.tar.gz/download#egg=pylibpcap-0.6.4
construct>=2.5.1
PyYAML>=3.10

#
# for Python 2.x, versions 1.x or 2.1 should be used
#
python-dateutil>=1.5,!=2.0


