{% extends 'site/contents_only_fluid_layout.html' %}
{% load crispy_forms_tags %}

{% block title %}SQL Canonicalizer{% endblock %}

{% block navbar %}{% endblock %}

{% block contents %}
    <p><strong>Shortcuts:</strong></p>
    <ul>
        <li>
            <a href="{% url 'explained_statements' %}">Explained statements</a>
        </li>
        <li>
            <a href="{% url 'top_queries' 5 %}">Top 5 queries</a>
        </li>
        <li>
            <a href="{% url 'last_statements' 5 %}">
                Statements found in the last 5 minutes
            </a>
        </li>
    </ul>

    <p>
        <strong>View top N queries:</strong>
        {% crispy tqf tqf.helper %}
    </p>

    <p>
        <strong>View statements found in the last N minutes:</strong>
        {% crispy lsf lsf.helper %}
    </p>

{% endblock %}