MySQL-python
PIL
Django
South
django-crispy-forms
django-debug-toolbar
django-tastypie

# used by Django for timezone support
pytz

# use version 1.5 for Python < 3.0
# required by django-tastypie
python-dateutil==1.5

# required by django-tastypie
mimeparse
