MySQL-python
PIL
Django==1.4.3
pytz
South
sqlparse
mmh3
http://sourceforge.net/projects/pylibpcap/files/pylibpcap/0.6.4/pylibpcap-0.6.4.tar.gz/download

# Make sure to use construct 2.x, construct 3.x is incompatible
construct==2.5.1

django-crispy-forms
django-debug-toolbar
django-tastypie