<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap -->
    <link
        href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css"
        rel="stylesheet" />

    <!-- Site -->
    <link href="{{ STATIC_URL }}site/css/site.css" rel="stylesheet" />

    {% block head_extra %}{% endblock %}
</head>
<body>
    {% block layout %}{% endblock %}
    <script src="{{ STATIC_URL }}jquery/jquery-1.9.1.min.js"></script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    {% block scripts_extra %}{% endblock %}
</body>
</html>
